[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Treasure for Python snippets
[access "refs/*"]
	owner = group user/Madhu Babu Kencha (madhubabukencha)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Madhu Babu Kencha (madhubabukencha)
	label-Verified = -1..+1 group user/Madhu Babu Kencha (madhubabukencha)
	push = group user/Madhu Babu Kencha (madhubabukencha)
	read = group user/Madhu Babu Kencha (madhubabukencha)
	rebase = group user/Madhu Babu Kencha (madhubabukencha)
	removeReviewer = group user/Madhu Babu Kencha (madhubabukencha)
	submit = group user/Madhu Babu Kencha (madhubabukencha)
[access "refs/heads/*"]
	create = group user/Madhu Babu Kencha (madhubabukencha)
	push = +force group user/Madhu Babu Kencha (madhubabukencha)
	pushMerge = group user/Madhu Babu Kencha (madhubabukencha)
	read = group user/Madhu Babu Kencha (madhubabukencha)
[access "refs/tags/*"]
	push = group user/Madhu Babu Kencha (madhubabukencha)
	push = +force group user/Madhu Babu Kencha (madhubabukencha)
